# # Etherscan Accept "YourApiKeyToken" for limited access if no API key is provided, any other value will be vaildated as the actual api key
ETHEREUM_ETHERSCAN_API_KEY=YourApiKeyToken
OPTIMISM_ETHERSCAN_API_KEY=YourApiKeyToken
ETHEREUM_BLOCKSCOUT_API_KEY=YourApiKeyToken
BASE_ETHERSCAN_API_KEY=YourApiKeyToken
BASE_BLOCKSCOUT_API_KEY=YourApiKeyToken
ARBITRUM_ETHERSCAN_API_KEY=YourApiKeyToken
POLYGON_ETHERSCAN_API_KEY=YourApiKeyToken
ZK_POLYGON_ETHERSCAN_API_KEY=YourApiKeyToken